body{
    background-color: #2b2b2b;
}

.logo2 {
    margin-left: 20px;
    margin-top: 10px;
    height: 180px;
    width: ;: 100px;

}
.materias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*grid-template-rows: repeat(9, 1fr);*/
    /*gap: 20px;*/
}
.materias a {
    text-decoration: none;
}

/* .espaco {grid-column: span 3 / span 3;} */
     


.botao-aluno-link {
    text-decoration:none;
    color: #2b2b2b;
    font-size: 20px;
    -webkit-text-stroke: 0.5px #c7c4c4;
    font-family: "Alfa Slab One", sans-serif;
}
