@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #494848;
  color: #f0eeee;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}

header a {
    text-decoration: none;
}

main {
  font-family: "Indie Flower", sans-serif;
}

.round-btn {
  margin-left: 30px;
  width: 35px;        
  height: 35px;          
  border-radius: 50%;     
  border: none;           
  background-color: #dbdbdb; 
  color: #000000;           
  font-size: 24px;        
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.round-btn:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}

.logo2 {
    margin-left: 20px;
    height: 90px;
    padding: 10px;
    padding-top: 0;
}

.btn-atua-perfil {          
  border-radius: 30px;     
  border: none;           
  background-color: #3a3636; 
  color: #bbbaba;           
  font-size: 18px;  
  margin-right: 30px;
  padding: 10px;      
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn-atua-perfil:hover {
  background-color: #000000;
  transform: scale(1.05);
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 100px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 900px) {
  .profile-container {
    margin-left: 60px;  
  }
}

@media (max-width: 750px) {
  .profile-container {
    margin-left: 30px;  
  }
}

@media (max-width: 600px) {
  .profile-container {
    margin-left: 0;     
  }
}

.profile-pic {
  width: 100px;          
  height: 100px;
  border: 2px dotted #000000;
  border-radius: 100%;
  margin: 20px;
  object-fit: cover;   
  margin-right: 10px;  
}

.profile-info h2 {
  margin: 0;
  margin-left: 20px;
}

.profile-info h3 {
  margin: 5px 0;   
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: normal;
}


section {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}

section p {
  margin-bottom: 30px;
  margin-left: 100px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 900px) {
  section p {
    margin-left: 90px;  
  }
}

@media (max-width: 750px) {
  section p {
    margin-left: 60px;  
  }
}

@media (max-width: 600px) {
  section p {
    margin-left: 30px;     
  }
}

.achievements {
  display: flex;              
  flex-wrap: wrap;            
  gap: 15px;                  
  justify-content: center; 
  margin: 0 auto;  
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #cccccc;
  border-radius: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 950px;
}

.achievements img {
  width: 180px;               
  height: auto;              
  border: 2px solid #ccc;   
  border-radius: 8px;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  position: static;       
  width: 100%;           
  background-color: #272727;
  text-align: center;    
  font-family: sans-serif; 
  font-size: 12px;       
  padding: 1px 0; 
  color: #ffffff;     
  border-top: 1px dotted #cccccc;
  margin-top: auto;
}
