header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #222221;
}

header a {
    text-decoration: none;
}

.logout-container {
    display: inline-block;
    margin-right: 100px;
}

#btn-logout {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border: 1px solid rgb(22, 22, 22);
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
}

#btn-sair {
    width: 95px;
    height: 30px;
    text-align: center;
    background-color: rgb(131, 29, 29);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    padding: 0;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    pointer-events: none;
}

#btn-sair.show {
    margin-top: 5px;
    padding: 8px 12px;
    max-height: 30px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.logo2 {
    margin-left: 20px;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    height: 90px;
}

body{
    background-color: #2b2b2b;
    margin: 0px;
}

h1{
    color: white;
    font-family: Arial; 
}

input {
    background-color: #1f1f1f;   /* cor de fundo */
    color: #e0e0e0;              /* cor do texto */
    border: 1px solid #555;      /* borda */
    padding: 8px;
    border-radius: 6px;          /* cantos arredondados */
    margin-bottom: 10px;         /* espaço */
    width: 300px;                /* largura */
}
input[type="file"] {
    color: #949292;
}
label {
    color: #e0e0e0;       /* muda a cor do texto */
    font-weight: 500;
    font-size: 20px;;
    margin-top: 10px;
}
button {
    background-color: #4a72ff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: #3452c8;
}

.btn-voltar {
    text-decoration: none;
    background-color: #f3b368;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}

.btn-voltar:hover {
    background-color: #df9e36; /* cor mais escura ao passar o mouse */
}

.container {
    margin: 60px; /* afasta de todas as bordas */
    margin-top: 0;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
  position: static;       
  width: 100%;           
  background-color: #272727;
  text-align: center;    
  font-family: sans-serif; 
  font-size: 12px;       
  padding: 1px 0; 
  color: #ffffff;     
  border-top: 1px dotted #cccccc;
  margin-top: auto;
}
