body{
    background-color: #fff7d8;
}
.logo2 {
    height:100px;
    padding: 10px;
}
.materias {
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*grid-template-rows: repeat(9, 1fr);*/
    /*gap: 20px;*/
}
.materias a {
    text-decoration: none;
}

/* .espaco {grid-column: span 3 / span 3;} */
     


.botao-aluno-link {
    text-decoration: none;
    color: black;
}

.aluno {
    margin-right: 50px;
    align-items: center;
    font-weight: 400;
    gap: 20px;
    margin-top: 22px;
    display: flex;
    grid-column-start: 5;
}

.aluno img {
    height:60px;
}

#courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#courses a {
    text-decoration: none;   
}

#courses h2 {
    color: black;
    font-weight: 520;
    margin-left: 15px;
}

.btn-to-class {
    display: flex;
    align-items: center;
    background-color: #c5c6ff;
    border-radius: 10px;
    margin: 0px 25px;
    margin-top: 25px;
}

.img-class {
    height: 80px;
    margin: 33px 23px;
}

.fracoes {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    background-color: #c5c6ff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
}


.nome {
    grid-column: span 4 / span 4;;
}


.sistemas {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    background-color: #c5c6ff;

}

.equacoes {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
    background-color: #c5c6ff;

}

.geometria {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 8;
    background-color: #c5c6ff;

}
 
.botao {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }