@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
    background-color: #2b2b2b;
}
.logo2 {
    margin-left: 20px;
    margin-top: 10px;
    height: 90px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.materias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*grid-template-rows: repeat(9, 1fr);*/
    /*gap: 20px;*/
}
.materias a {
    text-decoration: none;
}

/* .espaco {grid-column: span 3 / span 3;} */
     


.botao-aluno-link {
    text-decoration:none;
    color: #2b2b2b;
    font-size: 20px;
    -webkit-text-stroke: 0.5px #c7c4c4;
    font-family: "Alfa Slab One", sans-serif;
}

.aluno {
    margin-right: 50px;
    align-items: center;
    font-weight: 400;
    gap: 20px;
    margin-top: 32px;
    display: flex;
    grid-column-start: 5;
}

.aluno p {
    text-decoration:none;
    border-top: 2px solid #c7c4c4;
    border-bottom: 2px solid #c7c4c4;
}

.aluno img {
    height:60px;
}

#courses {
    background-color: #414040;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
}

#courses a {
    text-decoration: none;   
}

#courses h2 {
    color: #ffffff;
    font-family: "Alfa Slab One", sans-serif;
    -webkit-text-stroke: 1.5px #202020;
    font-size: 23px;
    font-weight: 520;
    margin-left: 15px;
}

.btn-to-class {
    display: flex;
    align-items: center;
    background-color: #c5c6ff;
    border-radius: 10px;
    margin: 0px 25px;
    margin-top: 25px;
}

#btn-f h2 {
    color: #b8edfd;
}
#btn-f {
    background-color: #C5C6FF;
    transition: 0.2s;
}
#btn-f:hover {
    box-shadow: #26394d 0px 20px 30px -10px;
    transform: scale(1.02);
}
#btn-s h2 {
    color: #f8faa2;
}
#btn-s {
    background-color: #fdff72;
    transition: 0.2s;
}
#btn-s:hover {
    box-shadow: #4d4a26 0px 20px 30px -10px;
    transform: scale(1.02);
}
#btn-e h2 {
    color: #e9b3ff;
}
#btn-e {
    background-color: #d465ff;
    transition: 0.2s;
}
#btn-e:hover {
    box-shadow: #42264d 0px 20px 30px -10px;
    transform: scale(1.02);
}
#btn-a h2 {
    color: #ffbdf6;
}
#btn-a {
    background-color: #ff76ed;
    transition: 0.2s;
}
#btn-a:hover {
    box-shadow: #4d2648 0px 20px 30px -10px;
    transform: scale(1.02);
}
#btn-g h2 {
    color: #b2f3a5;
}
#btn-g {
    background-color: #7fff65;
    transition: 0.2s;
}
#btn-g:hover {
    box-shadow: #2b4d26 0px 20px 30px -10px;
    transform: scale(1.02);
}
#btn-m h2 {
    color: #ffabab;
}
#btn-m {
    margin-bottom: 30px;
    background-color: #fd7a7a;
    transition: 0.2s;
}
#btn-m:hover {
    box-shadow: #4d2626 0px 20px 30px -10px;
    transform: scale(1.02);
}

.img-class {
    height: 80px;
    margin: 33px 23px;
}

.fracoes {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    background-color: #c5c6ff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
}


.nome {
    grid-column: span 4 / span 4;;
}


.sistemas {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    background-color: #c5c6ff;

}

.equacoes {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
    background-color: #c5c6ff;

}

.geometria {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 8;
    background-color: #c5c6ff;

}
 
.entrada {
width: 100%;
height: 60px;
font-size: 20px;
border-radius: 10px;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  