<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matérias</title>
    <link rel="stylesheet" href="static/css/stylepagcursos.css">
</head>
<body >
    <div class="materias">
        <div class="logo">
            <img src="static/assets/imagens/logo3.png" alt="logo MathUp" class="logo2">
        </div>
        <div class="espaco"></div>
       <a href="{{ url_for('area_aluno') }}" class="botao-aluno-link">
    <div class="aluno">

        <p>Área do Aluno</p>
    </div>
</a>

<section class="cursos">
          <button class="entrada">Fração</button>
           <button class="entrada">Multiplos e dividores</button>
            <button class="entrada">Geometria inicial</button>
             <button class="entrada">Divisão euclidiana</button>
 </section>




 <!-- exibir nomes das aulas já com a rota para a aula -->
        {% for nome in aulas %}
            <a href="/aula/{{ nome }}" target="_blank">
                {{ nome }}
            </a>

        {% endfor %}
    </div>

    <header class="cima">
      <a href="#">
        <div class="logo">
          <img src="../static/assets/imagens/logo.png" alt="logo" class="logo">
        </div>
      </a>
      <div class="button">
        <!-- CORREÇÃO: Usa 'formulario', que é a função que renderiza cadastro.html -->
        <a href="{{ url_for('formulario') }}" class="criar-link" id="btn-cad-hd"><i>Cadastrar</i></a>
        <a href="{{ url_for('formulario') }}" class="criar-link" id="btn-log-hd"><i>Login</i></a>
      </div>
    </header>

</html>

