<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styleperfil.css">
    </head>
    <body>
        <header>
            <a href="#">
                <div class="logo">
                    <img src="../static/assets/imagens/logo4.png" alt="logo MathUp" class="logo2">
                </div>
            </a>
            <div class="logout-container">
                <!-- Botão principal -->
                <button id="btn-logout" type="button">Logout ▼</button>

                <!-- Botão extra escondido -->
                <button class="hidden" id="btn-sair" type="button">
                    Sair
                </button>
            </div>
        </header>

        <nav>
            <a href="{{ url_for('entrar') }}"><button class="round-btn" >←</button></a>
        </nav>
        <main>
            <div class="profile-container" id="idetify-part">
                <img src="../static/assets/imagens/foto-perfil.png" alt="Foto de perfil" class="profile-pic">
                <div class="profile-info">
                <h2>{{ user.nome }}</h2>
                <h3>{{ user.email }}</h3>
                </div>
            </div>
            <a href="{{ url_for('entrar') }}"><button class="btn-atua-perfil" >Editar perfil</button></a>
        </main>

        <section>
            <p>MINHAS CONQUISTAS :</p>
            <div class="achievements">
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
            </div>
            <div id = "certificado" class = "modal">
                <a href="#identify-part" class="fechar">×</a>
                <img src = "../static/assets/imagens/certificate.png" alt = "certificate" class = "imagem">
                <a href="../static/assets/imagens/certificate.png" class="btn" download>Baixar Certificado</a>
            </div>
        </section>

        <footer>
            <p>© 2025 - Todos os direitos reservados</p>
        </footer>

        <script>
            // Alterna mostrar/esconder o botão "Sair"
            document.getElementById('btn-logout').addEventListener('click', function() {
                document.getElementById('btn-sair').classList.toggle('hidden');
            });

            // Ao clicar no botão Sair → ir para a rota logout
            document.getElementById('btn-sair').addEventListener('click', function() {
                window.location.href = "{{ url_for('logout') }}";
            });
        </script>
    </body>
</html>
