<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styleperfil.css">
    </head>
    <body>
        <header>
            <a href="{{ url_for('entrar') }}"><button class="round-btn" >←</button></a>
            <a href="#">
                <div class="logo">
                    <img src="../static/assets/imagens/logo4.png" alt="logo MathUp" class="logo2">
                </div>
            </a>
            <a href="{{ url_for('entrar') }}"><button class="btn-atua-perfil" >Editar perfil</button></a>
        </header>

        <main>
            <div class="profile-container">
                <img src="../static/assets/imagens/foto-perfil.png" alt="Foto de perfil" class="profile-pic">
                <div class="profile-info">
                <h2>NOME DO ALUNO</h2>
                <h3>email@exemplo.com</h3>
                </div>
            </div>
        </main>

        <section>
            <p>MINHAS CONQUISTAS :</p>
            <div class="achievements">
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
                <a href="#certificado">
                    <img src="../static/assets/imagens/certificate.png" alt="certificate" class="thumb">
                </a>
            </div>
            <div id = "certificado" class = "modal">
                <a href="#" class="fechar">×</a>
                <img src = "../static/assets/imagens/certificate.png" alt = "certificate" class = "imagem">
                <a href="../static/assets/imagens/certificate.png" class="btn" download>Baixar Certificado</a>
            </div>
        </section>

        <footer>
            <p>© 2025 - Todos os direitos reservados</p>
        </footer>
    </body>
</html>
