<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleperfil.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('entrar') }}">
                <div class="logo">
                    <img src="{{ url_for('static', filename='assets/imagens/logo4.png') }}" alt="logo MathUp" class="logo2">
                </div>
            </a>
            <div class="logout-container">
                <button id="btn-logout" type="button">Logout ▼</button>

                <button class="hidden" id="btn-sair" type="button">
                    Sair
                </button>
            </div>
        </header>

        <nav>
            <a href="{{ url_for('entrar') }}"><button class="round-btn" >←</button></a>
        </nav>
        <main>
            <div class="profile-container" id="identify-part">
                <img src="{{ user.foto_perfil }}" alt="Foto de perfil" class="profile-pic">
                <div class="profile-info">
                <h2>{{ user.nome }}</h2>
                <h3>{{ user.email }}</h3>
                </div>
            </div>
            <a href="{{ url_for('att_perfil_page') }}"><button class="btn-atua-perfil" >Editar perfil</button></a>
            
            {% if mensagem_sucesso %}
                
            {% endif %}

            {% if mensagem_erro %}
                <div style="color: red; margin-top: 10px;">{{ mensagem_erro }}</div>
            {% endif %}
            
        </main>

        <section>
            <p>MINHAS CONQUISTAS :</p>
            <div class="achievements">
                {% for i in range(8) %}
                <a href="#certificado">
                    <img src="{{ url_for('static', filename='assets/imagens/certificate.png') }}" alt="certificate" class="thumb">
                </a>
                {% endfor %}
            </div>
            <div id = "certificado" class = "modal">
                <a href="#identify-part" class="fechar">×</a>
                <img src = "{{ url_for('static', filename='assets/imagens/certificate.png') }}" alt = "certificate" class = "imagem">
                <a href="{{ url_for('static', filename='assets/imagens/certificate.png') }}" class="btn" download>Baixar Certificado</a>
            </div>
        </section>

        <footer>
            <p>© 2025 - Todos os direitos reservados</p>
        </footer>

        <script>
            // Alterna mostrar/esconder o botão "Sair"
            document.getElementById('btn-logout').addEventListener('click', function() {
                document.getElementById('btn-sair').classList.toggle('hidden');
            });

            // Ao clicar no botão Sair → ir para a rota logout
            document.getElementById('btn-sair').addEventListener('click', function() {
                window.location.href = "{{ url_for('logout') }}";
            });
        </script>
    </body>
</html>